@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
}
:root{
  --c_primary:#545EE1;
  --c_primary2:#007BFF;
  --c_success:#28A745;
  --c_danger:#FF0000;
  --c_warning:#FFA336;
  --c_dark:#262626;
  --c_gray:#8F8F8F;
  --c_white:#FFFFFF;
  
  --bg_primary:#545EE1;
  --bg_primary2:#007BFF;
  --bg_primary2Lt:#007bff21; /* 13% */
  --bg_success:#28A745;
  --bg_successLt:#28a74633; /* 20% */
  --bg_danger:#FF0000;
  --bg_warning:#FFA336;
  --bg_warningLt:#FFA33633; /* 20% */
  --bg_dark:#262626;
  --bg_light:#FBFBFB;
  --bg_light2:#FAFAFA;
  --bg_light3:#EEEFFC;
  --bg_white:#FFFFFF;
  --bg_lightGrd:linear-gradient(180deg, #FFFFFF 0%, #F7F8FF 100%);
  
  --border_primary:#545de13d; /* 24% */
  --border_gray:#D6D6D6;
  --border_light:#e5e5e5;
  --border_light2:#e5e5e561; /* 38% */

  --fs_10:0.7143rem;
  --fs_12:0.8571rem;
  --fs_14:1rem; 
  --fs_16:1.1429rem; 
  --fs_18:1.2857rem; 
  --fs_20:1.4286rem; 
  --fs_24:1.7143rem; 
  --fs_26:1.8571rem; 
  --fs_34:2.4286rem; 
  --fs_45:3.2143rem; 
  --fs_200:14.2857rem;

  --ff_Manrope:"Manrope", sans-serif;
  --ff_Poppins:"Poppins", sans-serif;

  --p_8:0.5714rem; /* p */
  --p_12:0.8571rem; /* py */
  --p_16:1.1429rem;
  --p_20:1.4286rem; /* px */
  --p_36:2.5714rem; /* px */

  --m_4:0.2857rem;
  --m_8:0.5714rem;
  --m_10:0.7143rem;
  --m_12:0.8571rem;
  --m_14:1rem;
  --m_18:1.2857rem;
  --m_20:1.4286rem;
  --m_24:1.7143rem;
  --m_30:2.1429rem;
  --m_32:2.2857rem;
  --m_40:2.8571rem;
  --m_64:4.5714rem;

  --g_20:1.4286rem; /* gx */

  --rounded_6:0.4286rem;
  --rounded_8:0.5714rem;
  --rounded_12:0.8571rem;
  --rounded_16:1.1429rem;

  --shadow_sm:0rem 0.1429rem 0.5714rem rgba(0, 0, 0, 0.1);
}
html{
  font-size: 14px;
}
body{
  color: var(--c_dark);
  font-family: var(--ff_Poppins);
  line-height: 1.5;
  background-color: var(--bg_light2);
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}
a{
  color: var(--c_warning);
}
.c_primary{color: var(--c_primary);}
.c_primary2{color: var(--c_primary2);}
.c_success{color: var(--c_success);}
.c_danger{color: var(--c_danger);}
.c_warning{color: var(--c_warning);}
.c_dark{color: var(--c_dark);}
.c_gray{color: var(--c_gray);}
.c_white{color: var(--c_white);}

.bg_primary{background-color: var(--bg_primary);}
.bg_primary2{background-color: var(--bg_primary2);}
.bg_primary2Lt{background-color: var(--bg_primary2Lt);}
.bg_success{background-color: var(--bg_success);}
.bg_successLt{background-color: var(--bg_successLt);}
.bg_danger{background-color: var(--bg_danger);}
.bg_warning{background-color: var(--bg_warning);}
.bg_warningLt{background-color: var(--bg_warningLt);}
.bg_dark{background-color: var(--bg_dark);}
.bg_light{background-color: var(--bg_light);}
.bg_light2{background-color: var(--bg_light2);}
.bg_light3{background-color: var(--bg_light3);}
.bg_white{background-color: var(--bg_white);}
.bg_lightGrd{background: var(--bg_lightGrd);}

.border_primary{border-color: var(--border_primary);}
.border_gray{border-color: var(--border_gray);}
.border_light{border-color: var(--border_light);}
.border_light2{border-color: var(--border_light2);}

.fs_10{font-size: var(--fs_10);}
.fs_12{font-size: var(--fs_12);}
.fs_14{font-size: var(--fs_14);}
.fs_16{font-size: var(--fs_16);}
.fs_18{font-size: var(--fs_18);}
.fs_20{font-size: var(--fs_20);}
.fs_24{font-size: var(--fs_24);}
.fs_26{font-size: var(--fs_26);}
.fs_34{font-size: var(--fs_34);}
.fs_45{font-size: var(--fs_45);}
.fs_200{font-size: var(--fs_200);}

.ff_Manrope{font-family: var(--ff_Manrope);}
.ff_Poppins{font-family: var(--ff_Poppins);}

.p_8{padding: var(--p_8);}
.px_12{padding-left: var(--p_12);padding-right: var(--p_12);}
.py_12{padding-top: var(--p_12);padding-bottom: var(--p_12);}
.px_20{padding-left: var(--p_20);padding-right: var(--p_20);}
.px_36{padding-left: var(--p_36);padding-right: var(--p_36);}

.px_24{padding-left:var(--p_24);padding-right:var(--p_24);}
.p_12{padding:var(--p_12);}
.px_12{padding-left:var(--p_12);padding-right:var(--p_12);}
.py_12{padding-top:var(--p_12);padding-bottom:var(--p_12);}
.p_6{padding:var(--p_6);}

.mb_4{margin-bottom: var(--m_4);}
.mb_8{margin-bottom:var(--m_8);}
.mr_8{margin-right:var(--m_8);}
.mb_10{margin-bottom: var(--m_10);}
.mb_12{margin-bottom: var(--m_12);}
.mb_14{margin-bottom: var(--m_14);}
.mb_18{margin-bottom: var(--m_18);}
.mb_20{margin-bottom: var(--m_20);}
.mb_24{margin-bottom: var(--m_24);}
.mb_30{margin-bottom: var(--m_30);}
.mb_32{margin-bottom: var(--m_32);}
.mb_40{margin-bottom: var(--m_40);}
.mb_64{margin-bottom: var(--m_64);}
.g_20{
  --bs-gutter-x: var(--g_20);
  --bs-gutter-y: var(--g_20);
}
.rounded_6{border-radius:var(--rounded_6);}
.rounded_8{border-radius:var(--rounded_8);}
.rounded_12{border-radius:var(--rounded_12);}
.rounded_16{border-radius:var(--rounded_16);}

.shadow_sm{box-shadow: var(--shadow_sm);}
/* overwrite */
.btn{
  font-size: var(--fs_14);
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.5714rem;
  padding: 0.6072rem 1rem;
}
.form-control{
  font-size: var(--fs_12);
  border: 0.5px solid var(--border_light);
  border-radius: 0.4286rem;
  padding: 0.6429rem 1rem;
}
.search_inp{
  background-color: var(--bg_light);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.3903 15.8333C13.0722 15.8333 16.057 12.8486 16.057 9.16667C16.057 5.48477 13.0722 2.5 9.3903 2.5C5.7084 2.5 2.72363 5.48477 2.72363 9.16667C2.72363 12.8486 5.7084 15.8333 9.3903 15.8333Z' stroke='%238F8F8F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.7236 17.5L14.0986 13.875' stroke='%238F8F8F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 1.4286em;
  background-position: left 0.8571em center;
  padding-left: 3em;
}
.card{
  border-radius: 0.4286rem;
}
.badge{
  color: var(--text__color);
  font-size: var(--fs_12);
  font-weight: 500;
  padding: 0.1429rem 0.5714rem;
  border: 1px solid var(--text__color);
  background-color: var(--bg__color);
  border-radius: 50rem;
  text-decoration: none;
}
.badge_primary{
  --text__color:var(--c_primary2);
  --bg__color:var(--bg_primary2Lt);
}
.badge_success{
  --text__color:var(--c_success);
  --bg__color:var(--bg_successLt);
}
.badge_warning{
  --text__color:var(--c_warning);
  --bg__color:var(--bg_warningLt);
}
.data_table{
  font-size: var(--fs_12);
  font-weight: 500;
}
.data_table th,
.data_table td{
  vertical-align: middle;
}
.data_table th{
  color: var(--c_gray);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--bg_light);
}
.data_table td{
  border-bottom: 1px dashed var(--bs-border-color);
}
.data_table > tbody > tr:hover > * {
  --bs-table-bg-state: var(--bg_light2);
}
.data_table .badge{
  width: 100%;
}
.hover_underline{
  text-decoration: none;
}
.hover_underline:hover{
  text-decoration: underline;
}
@media(max-width:575.98px){
  .container,
  .container-fluid{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .data_table{
    min-width: max-content;
  }
}

@media(min-width:1200px){
  .container{
    max-width: 89rem;
  }
}
/* ____________________ start login page  ____________________ */
.login_pageRow{
  min-height: 100vh;
  min-height: 100svh;
}
.login_leftColumn{
  background-color: var(--bg_primary);
  display: grid;
  place-items: center;
  position: relative;
}
.login_leftContent{
  max-width: 33.5714rem;
  padding: 3rem 0rem;
  margin: auto;
  position: relative;
  z-index: 1;
}
.login_leftTitle{
  color: var(--c_white);
  font-size: var(--fs_45);
  margin-bottom: 2rem;
}
.login_leftImg{
  width: 27.3571rem;
  max-width: 100%;
}

.login_rightColumn{
  display: grid;
  place-items: center;
}
.login_rightContent{
  max-width: 30rem;
  padding: 3rem 0rem;
  margin: auto;
}
.iti--allow-dropdown{
  width: 100%;
}
.iti .iti__selected-dial-code{
  font-size: var(--fs_12);
}
.loin_shape_divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.loin_shape_divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 45.1429rem;
}
.pincode-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.pincode-input-container input {
  text-align: center;

  /* background-color: transparent;
  box-shadow: none;
  border-radius: 0rem;
  border: none;
  border-bottom: 1px solid var(--border_gray); */
}
.pincode-input-error{
  display: none;
}
@media(max-width:991.98px){
  .login_leftColumn{
    display: none;
  }
}
/* ____________________ end login page  ____________________ */

/* ____________________ start dashboard page  ____________________ */
/* header top */
.header_top{
  padding: 0.8571rem 1.5rem;
  background-color: var(--bg_white);
  border-bottom: 1px solid var(--border_light);;
}
.min_w_max{
  min-width: max-content;
}

.fi::before{
  vertical-align: sub;
}
.cursor_pointer {
  cursor: pointer;
}
.notif_btn {
  padding-left: 0.3em;
  padding-right: 0.3em;
  width: 2.7857em;
  background-color: var(--bg_white) !important;
  border-radius: 0.5rem;
  line-height: 1.55;
}
.notif_badge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 0.7143em;
  min-width: 0.7143em;
  height: 0.7143em;
  border-radius: 50%;
  background-color: var(--c_danger);
}

.notif_dropdown .dropdown-menu {
  width: 32rem;
  font-weight: 500;
}

.notif_dropdownBody {
  max-height: 30rem;
  overflow-y: auto;
}

.notif_item {
  color: var(--c_dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--p_12);
  border-radius: var(--rounded_6);
  border: 1px solid var(--bs-border-color);
  margin-bottom: 0.5714rem;
  text-decoration: none;
}

.notif_item.unreaded {
  background-color: var(--bg_light2);
}

.notif_item:hover {
  background-color: var(--bg_light);
  border-color: var(--bs-border-color);
}

.notif_iconBox {
  font-size: var(--fs_18);
  width: 2.5714rem;
  min-width: 2.5714rem;
  height: 2.5714rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.notif_iconBox i {
  line-height: 1;
}

.notif__news .notif_iconBox {
  color: var(--c_primary);
  background-color: rgba(7, 121, 182, 0.11);
}

.notif__success .notif_iconBox {
  color: #00a57f;
  background-color: #e5f7f3;
}

.notif__alert .notif_iconBox {
  color: #e93c3c;
  background-color: #fde5e5;
}

.notif__info .notif_iconBox {
  color: #e89806;
  background-color: #f9eed5;
}

.notif__update .notif_iconBox {
  color: var(--bs-black);
  background-color: #e8e8e8;
}

.no_notifBox {
  padding: 5.7143rem 1.4286rem;
  text-align: center;
}

.no_notifIcon {
  font-size: 10.1429rem;
  line-height: 1em;
  width: 1em;
  height: 1em;
  -o-object-fit: contain;
  object-fit: contain;
}

.userOpts_dropdown>[data-bs-toggle="dropdown"] {
  padding: 0em;
}

.userOpts_pflImg {
  width: 2.8em;
  min-width: 2.8em;
  height: 2.8em;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}

.dropdown-menu {
  --bs-dropdown-min-width: 13rem;
  -webkit-box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
  box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
  border-radius: var(--rounded_16);
}

.dropdown-item {
  border-radius: var(--rounded_6);
}

@media (max-width: 575.98px) {
  .notif_dropdown .dropdown-menu {
    width: 300px;
  }
}

/* header side menu */
.header_side_menu{
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  border-right: 1px solid var(--border_light);
  background-color: var(--bg_white);
  padding-top: 4.8rem;
}
.header_sideNav{
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}
.header_sideNavItem{
}
.header_sideNavLink{
  color: var(--c_gray);
  text-decoration: none;
  text-align: center;
  padding: 1.2rem 1.5rem;
  display: block;
}
.header_sideNavLink:hover{
  background-color: var(--bg_light3);
}
.header_sideNavLink.active{
  color: var(--c_primary);
}
.header_sideNavLink i{
  font-size: var(--fs_20);
}
.header_sideNavLink i:nth-of-type(2),
.header_sideNavLink.active i:nth-of-type(1){
  display: none;
}
.header_sideNavLink.active i:nth-of-type(2){
  display: initial;
}
.header_sideNavLink span{
  display: block;
  font-size: var(--fs_10);
}
@media(max-width:991.98px){
  .header_side_menu {
    position: fixed;
    top: initial;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    padding-top: 0rem;
    border-top: 1px solid var(--border_light);
    border-right: none;
  }
  .header_sideNav{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .header_sideNavLink {
    padding: 0.8rem 0.5rem;
  }
  .header_sideNavLink span{
    font-size: 8px;
  }
}
@media(max-width:575.98px){
  .add_btn_wrap{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
  }
}

/*  */
.main{
  padding: 5.6rem 1rem 0rem 7.4rem;
}
.orders-date{
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1.49819L10.9965 1.49821V0.501709C10.9965 0.225459 10.7727 0.00170898 10.4965 0.00170898C10.2203 0.00170898 9.9965 0.225459 9.9965 0.501709V1.49796H5.9965V0.501709C5.9965 0.225459 5.77275 0.00170898 5.4965 0.00170898C5.22025 0.00170898 4.9965 0.225459 4.9965 0.501709V1.49796H1C0.44775 1.49796 0 1.94571 0 2.49796V14.998C0 15.5502 0.44775 15.998 1 15.998H15C15.5522 15.998 16 15.5502 16 14.998V2.49796C16 1.94594 15.5522 1.49819 15 1.49819ZM15 14.998H1V2.49796H4.9965V3.00171C4.9965 3.27794 5.22025 3.50171 5.4965 3.50171C5.77275 3.50171 5.9965 3.27794 5.9965 3.00171V2.49821H9.9965V3.00196C9.9965 3.27821 10.2203 3.50196 10.4965 3.50196C10.7727 3.50196 10.9965 3.27821 10.9965 3.00196V2.49821H15V14.998ZM11.5 7.99819H12.5C12.776 7.99819 13 7.77419 13 7.49819V6.49819C13 6.22219 12.776 5.99819 12.5 5.99819H11.5C11.224 5.99819 11 6.22219 11 6.49819V7.49819C11 7.77419 11.224 7.99819 11.5 7.99819ZM11.5 11.9979H12.5C12.776 11.9979 13 11.7742 13 11.4979V10.4979C13 10.2219 12.776 9.99794 12.5 9.99794H11.5C11.224 9.99794 11 10.2219 11 10.4979V11.4979C11 11.7744 11.224 11.9979 11.5 11.9979ZM8.5 9.99794H7.5C7.224 9.99794 7 10.2219 7 10.4979V11.4979C7 11.7742 7.224 11.9979 7.5 11.9979H8.5C8.776 11.9979 9 11.7742 9 11.4979V10.4979C9 10.2222 8.776 9.99794 8.5 9.99794ZM8.5 5.99819H7.5C7.224 5.99819 7 6.22219 7 6.49819V7.49819C7 7.77419 7.224 7.99819 7.5 7.99819H8.5C8.776 7.99819 9 7.77419 9 7.49819V6.49819C9 6.22194 8.776 5.99819 8.5 5.99819ZM4.5 5.99819H3.5C3.224 5.99819 3 6.22219 3 6.49819V7.49819C3 7.77419 3.224 7.99819 3.5 7.99819H4.5C4.776 7.99819 5 7.77419 5 7.49819V6.49819C5 6.22194 4.776 5.99819 4.5 5.99819ZM4.5 9.99794H3.5C3.224 9.99794 3 10.2219 3 10.4979V11.4979C3 11.7742 3.224 11.9979 3.5 11.9979H4.5C4.776 11.9979 5 11.7742 5 11.4979V10.4979C5 10.2222 4.776 9.99794 4.5 9.99794Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: right 1em center;
  background-repeat: no-repeat;
  background-size: 1.2em;
  max-width: 9rem;
  padding-right: 2.2rem;
}
.infoTab{

}
.infoTab.nav-tabs .nav-item .nav-link, 
.infoTab.nav-tabs .nav-link{
  color: var(--c_gray);
  font-size: var(--fs_12);
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0.5rem 0.9rem;
}
.infoTab.nav-tabs .nav-item.show .nav-link, 
.infoTab.nav-tabs .nav-link.active{
  font-weight: 500;
  color: var(--c_primary);
  border-color: var(--c_primary);
}
.icon_dot{
  border: 1px solid currentColor;
  line-height: 1;
  display: inline-block;
  border-radius: 2px;
}
.collapse_btn{
  cursor: pointer;
}
.collapse_btn::before{
  content: "\e07c";
  display: inline-block;
  vertical-align: sub;
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.3em;
  transition: 0.3s;
}
.collapse_btn.collapsed::before{
  transform: rotate(180deg);
}
@media(min-width:1200px){
  .border-xl-end {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
@media(max-width:991.98px){
  .main{
    padding: 5.6rem 0rem 5rem;
  }
}
/* ____________________ end dashboard page  ____________________ */